# ignore matlab autosave
*.asv

# don't upload any external interfaces
/matlab/remApi.m
/matlab/remoteApi.dll
/matlab/remoteApi.so
/matlab/remoteApiProto.m

# ignore the pathmex submodules and files
/matlab/submodule/pathmex
logfile.tmp