[submodule "matlab/submodule/LCQPow"]
	path = matlab/submodule/LCQPow
	url = https://github.com/hallfjonas/LCQPow
[submodule "matlab/submodule/matlab-codegen-helper-raw"]
	path = matlab/submodule/matlab-codegen-helper-raw
	url = https://github.com/hwyao/matlab-codegen-helper-raw
[submodule "ros/src/franka_controllers/submodule/LCQPow"]
	path = ros/src/franka_controllers/submodule/LCQPow
	url = https://github.com/hallfjonas/LCQPow/
